<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get All Orders</title>

    <link rel="stylesheet" href="/css/Stylesheet.css">
</head>
<body>
<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/index}">
                <img src="/img/cupcakelogo.png" class="logoSize">
            </a>
        </div>

    </div>

    <ul class="menu">
        <div class="left">


            <li>
                <a th:href="@{/adminUpdateBalance}">Update Balance</a>
            </li>

            <li>
                <a th:href="@{/allOrders}">alle ordre</a>
            </li>

        </div>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

</header>
<main>
    <div class="container">
        <table>
            <tr>
                <th>Ordre ID</th>
                <th>Bruger ID</th>
                <th>Ordre dato</th>
            </tr>


            <th:block th:each="order : ${orders}">
                <tr>
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.userId}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td>
                        <a th:href="@{'/order/' + ${order.orderId}}" class="btn">Se detaljer</a>
                    </td>
                </tr>


            </th:block>
        </table>

    </div>
</main>

</body>
</html>