<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get All Orders</title>
</head>
<body>
<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/index}">
                <img src="/img/cupcakelogo.png" class="logoSize">
            </a>
        </div>


    </div>


    <ul class="menu">
        <div class="left">
            <li><a th:href="@{/allOrders}"> Alle ordre </a></li>
        </div>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

</header>
<main>
    <div class="container">
        <form  method="post">


        </form>
    </div>
</main>

</body>
</html>