<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>OlskerCupcake_CreateAccount</title>

    <link rel="stylesheet" href="/css/Stylesheet.css">
</head>
<body>


<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/index}">
                <img src="/img/cupcakelogo.png" class="logoSize">
            </a>
        </div>


    </div>


    <ul class="menu">
        <div class="left">
            <li><a th:href="@{/login}"> Login </a></li>
            <li><a th:href="@{/createAccount}"> Opret bruger </a></li>
        </div>


        <div class="right">
            <li><a th:href="@{/orders}"> Cupcakes </a></li>
            <li><a th:href="@{/creatingPanel}"> Creating Panel </a></li>

        </div>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

    <div class="bodyTextCenter"><h1>Velkommen</h1> </div>
    <div class = "bodyTextCenter"> <p> Opret en bruger for at bestille øens bedste cupcakes,
        <br> eller tryk login hvis du har en profil
    </p>
    </div>


</header>
<main>
    <div class="login-container">
        <h2>Opret Bruger</h2>

            <form th:action="@{/createAccount}" method="post">

                <p th:text="${msg}"></p>

                <div class="input-group">
                    <label for="name">Navn</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <button type="submit">Opret bruger</button>

            </form>
    </div>


</main>

<footer class="footer">
    <div class="footer-content">
        <ul class="footer-links">
            <li><a th:href="@{/aboutUs}"> Om os </a></li>
            <li><a th:href="@{/contactUs}"> Kontakt os </a></li>
        </ul>
    </div>
</footer>

<script src="/js/accountSession.js"></script>

</body>

</html>

