<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>cupcake_Orders</title>

    <link rel="stylesheet" href="/css/Stylesheet.css">
</head>

<body>


<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/index}">
                <img src="/img/cupcakelogo.png" class="logoSize">
            </a>
        </div>

    </div>

    <div class="menu-container" style="position: relative;">
        <ul class="menu">
            <!-- left menu -->
            <div class="left">
                <li><a th:href="@{/login}"> Login </a></li>
                <li><a th:href="@{/createAccount}"> Opret bruger </a></li>
            </div>

            <!-- right menu -->
            <div class="right">
                <li><a th:href="@{/orders}"> Cupcakes </a></li>
                <li><a th:href="@{/creatingPanel}"> Creating Panel </a></li>

                <div class="user-info-box">
                    <div th:if="${session.currentUser != null}">
                        Email: <span th:text="${session.currentUser.getUserEmail}"></span>
                    </div>
                    <div th:if="${session.currentUser != null}">
                        Saldo: <span th:text="${session.currentUser.balance}"></span> Kr
                    </div>
                </div>

            </div>


        </ul>


    </div>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

</header>
<main>
    <nav class="orderContainer">

        <h1>Velkommen ombord</h1>
        <p>Øens bedste cupcakes. vælg og bestil her:</p>

        <form class="orderForm" th:action="@{/orders}" method="POST">

            <div class="orderRow">
                <select name="bottomId">
                    <option disabled selected value>vælg bund</option>
                    <option th:each="cupcakebottom : ${bottom_options}"
                            th:value="${cupcakebottom.bottomId}"
                            th:text="${cupcakebottom.bottomname + ' - ' + cupcakebottom.bottomprice + ' DKK'}">
                    </option>
                </select>

                <select name="topId">
                    <option disabled selected value>vælg topping</option>
                    <option th:each="cupcaketop : ${top_options}"
                            th:value="${cupcaketop.topId}"
                            th:text="${cupcaketop.topname + ' - ' + cupcaketop.topPrice + ' DKK'}">
                    </option>
                </select>

                <input type="number" name="amount" placeholder="vælg antal">
            </div>

            <div class="orderActions">
                <button type="button">+</button>
                <button type="submit" class="cartBtn">Læg i kurv</button>
            </div>

        </form>


    </nav>
</main>

<footer class="footer">
    <div class="footer-content">
        <ul class="footer-links">
            <li><a th:href="@{/aboutUs}"> Om os </a></li>
            <li><a th:href="@{/contactUs}"> Kontakt os </a></li>
        </ul>
    </div>
</footer>


</body>

</html>